.station-flex {
    
}

.station-title {
    padding: 20px;
}
.station-link a {
    color: black;
    text-decoration: none;
}
.station-link :hover{
    color: blueviolet;
}
.five-stats {
    background-color: rgb(229, 229, 229);
}