body {
  margin: 0;
 
  font-family: Raleway; 

}

.nav-links {
  font-size: 20px;
  color: white;
  text-decoration: none;
}


.navbar{
  background-color:rgb(35, 34, 34) !important;
  
}
textarea:focus, input:focus{
  outline: none;
}
input:focus {
  outline:none;
}
