body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Raleway; 

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-links {
  font-size: 20px;
  color: white;
  text-decoration: none;
}


.navbar{
  background-color: rgb(51, 48, 48) !important;
  
}
textarea:focus, input:focus{
  outline: none;
}
input:focus {
  outline:none;
}
